@charset "UTF-8";
img{
	width: 100%;
    height: 100%;
    object-fit: contain; 
}
.container{
	width: 100%; 
    height: 400px; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
	
}
.Wtext{
	display: flex;
	flex-direction: column;
	
	}

.Wtext h4{
	padding:30px;
	font-family: "Poppins";
}

h2 .Dusername{
	color: red;
	font-size: 2rem;
}
.welcomeboard{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}