<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>NoCacheFilter</filter-name>
  	<display-name>NoCacheFilter</display-name>
  	<description></description>
  	<filter-class>com.megacitycab.filter.NoCacheFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>NoCacheFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
  	<servlet-name>RegisterController</servlet-name>
  	<display-name>RegisterController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.RegisterController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookingController</servlet-name>
    <display-name>BookingController</display-name>
    <description></description>
    <servlet-class>com.megacitycab.controller.BookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.service.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutController</servlet-name>
  	<display-name>LogoutController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookCab</servlet-name>
  	<display-name>BookCab</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.BookCab</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CancelBookingServlet</servlet-name>
  	<display-name>CancelBookingServlet</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.CancelBookingServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddCabController</servlet-name>
  	<display-name>AddCabController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.AddCabController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateBookingController</servlet-name>
  	<display-name>UpdateBookingController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.UpdateBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProcessBillController</servlet-name>
  	<display-name>ProcessBillController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.ProcessBillController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcceptBookingController</servlet-name>
  	<display-name>AcceptBookingController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.AcceptBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RejectBookingController</servlet-name>
  	<display-name>RejectBookingController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.RejectBookingController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HomeController</servlet-name>
  	<display-name>HomeController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.HomeController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TrackBooking</servlet-name>
  	<display-name>TrackBooking</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.TrackBooking</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewBookingDetailController</servlet-name>
  	<display-name>ViewBookingDetailController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.ViewBookingDetailController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserController</servlet-name>
  	<display-name>UserController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.UserController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HelpController</servlet-name>
  	<display-name>HelpController</display-name>
  	<description></description>
  	<servlet-class>com.megacitycab.controller.HelpController</servlet-class>
  </servlet>
   <servlet-mapping>
  	<servlet-name>RegisterController</servlet-name>
  	<url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
   	<servlet-name>LoginController</servlet-name>
   	<url-pattern>/LoginController</url-pattern>
   </servlet-mapping>
   
   
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutController</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/CustomerController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookCab</servlet-name>
  	<url-pattern>/BookCab</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CancelBookingServlet</servlet-name>
  	<url-pattern>/CancelBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddCabController</servlet-name>
  	<url-pattern>/AddCabController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateBookingController</servlet-name>
  	<url-pattern>/UpdateBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProcessBillController</servlet-name>
  	<url-pattern>/ProcessBillController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcceptBookingController</servlet-name>
  	<url-pattern>/AcceptBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RejectBookingController</servlet-name>
  	<url-pattern>/RejectBookingController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HomeController</servlet-name>
  	<url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TrackBooking</servlet-name>
  	<url-pattern>/TrackBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewBookingDetailController</servlet-name>
  	<url-pattern>/ViewBookingDetailController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserController</servlet-name>
  	<url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HelpController</servlet-name>
  	<url-pattern>/HelpController</url-pattern>
  </servlet-mapping>
  
   
</web-app>
